version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kitmed-app
    ports:
      - "3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://kitmed_user:KitMed_PostgreSQL_2024_SecurePass_104c764723b98616@10.0.1.22:5432/kitmed_prod
      - NEXTAUTH_URL=https://kitmed.ma
      - NEXTAUTH_SECRET=KitMed_NextAuth_Secret_2024_SecureKey_a8b7c6d5e4f3
      - JWT_SECRET=KitMed_JWT_Secret_2024_SecureKey_1a2b3c4d5e6f
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kitmed-app.rule=Host(`kitmed.ma`) || Host(`www.kitmed.ma`)"
      - "traefik.http.routers.kitmed-app.entrypoints=websecure"
      - "traefik.http.routers.kitmed-app.tls.certresolver=letsencrypt"
      - "traefik.http.services.kitmed-app.loadbalancer.server.port=3000"

networks:
  dokploy-network:
    external: true
